/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header rules */
header{
    position: fixed;
    z-index: 1000;
    height: 60px;
    width: 100%;
    background-color: blueviolet;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

/* nav rules  */
#menumobile{
    display: none;
}


#menudesktop ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

#menudesktop a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 10px 18px;
}

.button{
    border-radius: 25px 25px;
    padding: 8px 16px;
    font-size: 15px;
}


/* resolution header mobile tablet */
@media screen and (max-width:780px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    #menumobile{
        display:inline;
        color: white;
        font-size: 25px;
    }
    #menudesktop{
        display:none;
    }
    
}
/* main general rules  */
section{
    padding-top: 100px ;
    margin-bottom: 50px;
}

/* appsection rules  */

#appsection .row {
    display: flex;
    align-items:stretch;
    gap: 20px;
}

#appsection .card{
    background-color: 	#e39ff6;
    margin-bottom: 20px;
    border-radius: 20px 20px;
    line-height: 2;
}

#appsection .card.imgphone {
    display: flex; 
    justify-content: center;
    padding: 10px 20px; 
    align-items: start;  
    width: 66%;
}
#appsection .img-phone {
    align-self: flex-end;
}

#appsection img {
    max-width: 100%;
    width: 70%;
    margin-top: 20px;
}

.button.purple{
    background-color: blueviolet;
    color: white;
    padding: 10px 28px;
    margin-top: 20px;
}
#appsection h3 {
    color: blueviolet;
    padding: 20px;
}
#appsection p {
    font-size: 15px;
    color: rgb(90, 88, 88);
    margin-bottom:20px ;
}

div > i {
    font-size: 70px;
    color: blueviolet;
    margin-bottom: 20px;
}

.row .card.text{
    width: 32%;
    padding: 20px 20px;
    text-align: center;
}

.row.second .card.text{
    width:calc(100%/3);
}

/* resolution appsection tablet */
@media screen and (max-width:780px) {
   #appsection .card.imgphone{
    display: block;
   }
   #appsection img {
    width: 50%;
   }
   
}

/* resolution appsection smartphone */
@media screen and (max-width: 480px) {
    #appsection .row{
        display: block;
    }
    #appsection .card {
        width: 100%;
    }
    #appsection .card.imgphone{
        width: 100%;
    }
    
}

/* planning-sect rules  */
#planning-sect{
    background-color: #9593e6;
    padding: 20px 0;
}
#planning-sect .row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 70%;
    margin: auto;
    gap: 20px;
}
#planning-sect img{
    max-width: 100%;
}

.strategic .col-text{
    color: white;
    line-height: 2;
}
.strategic h3 {
    margin-bottom: 30px;
}

.strategic {
    width: 60%;
    margin-bottom :30px; ;
}
.develop {
    width: 40%;
    border-radius: 20px 20px;
    background-color: white;
    padding: 20px 30px;
    line-height: 2;
    text-align: center;
    margin-bottom: 30px;
}

.develop h3 {
    margin-bottom: 20px;
}

.develop .fa-arrow-down{
    padding: 14px 16px ;
    background-color: #9593e6;
    border-radius: 50px 50px;
    font-size: 15px;
    margin-top: 10px;
}

/* resolution planning section tablet and smartphone */
@media screen and (max-width:810px) {
    #planning-sect .row {
    display: block;
    width: 100%;
   }
   #planning-sect .col {
    width: 100%;
   }
}

/* testimonial-sect rules  */
.testimonial-title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonial-title h2 {
    color: #9593e6;
    font-size: 50px;
    margin-top: 20px;
}

.testimonial-title p {
    margin-top: 20px;
}

.testimonial-cards{ 
    display: flex;
    align-items: center;
    background-color: #9593e6;
    padding: 8px 16px;
    border-radius: 30px;
    color: white;
    line-height: 2;
    margin-bottom: 30px;
}

.testimonial-cards img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-text{
    padding-left: 30px;
}

/* resolution testimonial section smartphone */
@media screen and (max-width:480px) {
    .testimonial-cards{
    display: block;
    width: 100%;
    text-align: center;
   }
   }

/* section beneficts with us  */
#withus-sect{
    background-color: #9593e6;
    padding-bottom: 20px;
}

#withus-sect .title{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

#withus-sect .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.regularcard{
    background-color:white;
    margin-bottom: 20px;
    border-radius: 20px 20px;
    padding: 20px 20px;
    line-height: 2;
    width: calc(100%/3 - 20px);
    color: #9593e6;
}

.regularcard h2 {
    font-size: 50px;
}

.regularcard p {
    color:  rgb(90, 88, 88) ;
    margin-top: 10px;
}

.button.with-us{
    background-color: #9593e6;
    color: white;
    font-size: 20px;
    padding: 8px 32px;
    margin-top: 10px;
}

/* resolution beneficts section tablet */
@media screen and (max-width:810px) {
    .regularcard {
    width: calc(100%/2 - 20px);

   }
}

/* resolution beneficts section smartphone */
@media screen and (max-width:480px) {
    #withus-sect .row{
        display: block;
    }
    .regularcard {       
    width:100%;
   }
}

/* rules about us section  */
.row-about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-us-text h2 {
    color: #9593e6;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.about-us-text p {
    line-height: 2;
    margin-bottom: 30px;
}

.about-us-profile{
    line-height: 2;
    font-size: 30px;
    color: #9593e6;
}

.about-us-profile img {  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

.about-us-profile .col-img{
    position: relative;
    
}

.about-us-profile .icon{
    position: absolute;
    top: 0;
    right: 0;
}

.button.about-us{
    font-size: 15px;
    background-color: #9593e6;
    color: white;
}

/* resolution about us section smartphone */
@media screen and (max-width:480px) {
   .row-about-us{
    display: block;
   }
   .about-us-profile .icon{
    position: absolute;
    top: 0;
    right: 200px;
}
}














/* footer rules   */
footer{
    background-color: #23272a;
}




/* DEBUG */





footer{
    height: 200px;
    background-color: #23272a;
}

