/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header rules */
header{
    position: fixed;
    z-index: 1000;
    height: 60px;
    width: 100%;
    background-color: blueviolet;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
/* nav rules  */
#menumobile{
    display: none;
}
/* #menudesktop{
    width: 50%;
} */

#menudesktop ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content:;
    align-items: center;
}

#menudesktop a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
}

.button{
    border-radius: 25px 25px;
    padding: 8px 16px;
}


/* resolution header mobile  */
@media screen and (max-width:768px) {
    #menumobile{
        display:inline;
        color: white;
        font-size: 25px;
    }
    #menudesktop{
        display:none;
    }
    
}

/* appsection rules  */
#appsection .col {
    display: flex;
    

}







/* footer rules   */
footer{
    background-color: #23272a;
}




/* DEBUG */



section{
    padding-top: 100px ;
    height: 300px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

footer{
    height: 200px;
    background-color: #23272a;
}

.col{
    background-color: yellowgreen;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    border: black solid 1px;
}